[Desktop Entry]
Type=Application
Name=Orby
GenericName=Discord Quest Companion
Comment=Sleek background game process spoofer for Discord Quests
Exec=orby
Icon=orby
Terminal=false
Categories=Utility;Network;
StartupNotify=true
StartupWMClass=Orby
Keywords=discord;quest;spoofer;spoof;game;
