[Desktop Entry]
Name=Orby
GenericName=Discord Quest Companion
Comment=A modern Discord Quest companion for Linux
Exec=orby
Icon=orby
Terminal=false
Type=Application
Categories=Utility;Network;
StartupNotify=true
